{%include 'header.html'%}

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-in">
      <h1>歡迎來到 Line 英文輔助學習機器人</12>
      <h2>讓正在學習英文單字的你獲得更及時全面的幫助！</h2>
      <img src="{{ url_for('static', filename='img/hero-img.png') }}" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
      <a href="#get-started" class="btn-get-started scrollto">更多</a>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="padd-section text-center">

      <div class="container">
        <div class="row">

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="feature-block">

              <img src="static/img/svg/cloud.svg" alt="img">
              <h4>翻譯</h4>
              <p>中文與英文互相翻譯解釋，且支援語音辨別功能，方便你中英雙向查詢要學習的單字！</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="feature-block">

              <img src="static/img/svg/planet.svg" alt="img">
              <h4>正音</h4>
              <p>提供英文音檔，使用者可以在聽到後練習發音，機器人會依照使用者發音的準確度自動評分！讓你有更多的發音練習體驗</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="feature-block">

              <img src="static/img/svg/asteroid.svg" alt="img">
              <h4>學習進度追蹤</h4>
              <p>機器人會依照使用者自身進行之測驗顯示考題正確率，同時會幫使用者彙整錯誤之單字與片語，並對使用者提出每週進度報告</p>

            </div>
          </div>

          <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="400">
            <div class="feature-block">

              <img src="static/img/svg/asteroid.svg" alt="img">
              <h4>考試</h4>
              <p>機器人會依照使用者自身進行之測驗顯示考題正確率，同時會幫使用者彙整錯誤之單字與片語，並對使用者提出每週進度報告</p>

            </div>
          </div>

        </div>
      </div>

    </section><!-- End Get Started Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-center">

          <div class="col-md-5 col-lg-3">
            <img src="static/img/about-img.png" alt="About" data-aos="zoom-in" data-aos-delay="100">
          </div>

          <div class="col-md-8 col-lg-7">
            <div class="about-content" data-aos="fade-left" data-aos-delay="100">

              <h2>專門為複習<span>高中6000單</span>設計的機器人</h2>
              <p>進入大學後，發現當今社會英語能力之必要性，同時，台灣未來亦會邁向雙語政策（國家發展委員會），因此我們想創造一個人人都能輕鬆使用的「良質教育」環境予未來的學生或是任何有需求的人。
              </p>

              <ul class="list-unstyled">
                <li><i class="vi bi-chevron-right"></i>符合SDGs目標4：確保有教無類、公平以及高品質的教育，及提倡終身學習</li>
                <li><i class="vi bi-chevron-right"></i>在互動式環境中增強英語基本單字能力，符合雙語政策之推動趨勢</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>為何不能錯過我們的設計?</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="static/img/svg/1.jpg" alt="img">
              <h4>完全免費且無廣告</h4>
              <p>我們致力讓大家體驗最高品質的Line英文輔助學習機器人，絕不以營利為導向！</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="static/img/svg/vector.svg" alt="img">
              <h4>方便簡易的操作方式</h4>
              <p>僅須加入Line好友，點選Line英文輔助學習機器人選單，就能輕鬆進行英文單字學習！</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="static/img/svg/design-tool.svg" alt="img">
              <h4>完整記錄你的學習</h4>
              <p>Line聊天室將完整記錄你的學習過程，每周所提供的進度報告也能讓你完整掌握自己的學習狀況！</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="feature-block">
              <img src="static/img/svg/asteroid.svg" alt="img">
              <h4>幫你的發音評分</h4>
              <p>不同於大部分英文單字學習工具只能單向的聽取發音，只要按下Line的錄音鍵錄音，我們就會依據您的發音與正確發音相似度給分，讓你的學習更有效！</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Features Section -->

    <!-- ======= Screenshots Section ======= -->
    <section id="screenshots" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>App 實際使用畫面</h2>
        </div>

        <div class="screens-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/img/screen/1.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/img/screen/2.jpg" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/img/screen/3.jpg" class="img-fluid" alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Screenshots Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="padd-section text-center">

      <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
          <h2>團隊成員</h2>
        </div>

        <div class="row row-cols-4">

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/1.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="0" class="active" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>
                <span>指導老師</span>
                <h4>中央大學通識教育中心</h4>
                <h4>張家凱</h4>
              </div>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/2.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="1" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>
                <span>組員</span>
                <h4>中央大學經濟三</h4>
                <h4>桂子恆</h4>
              </div>
            </div>
          </div>  

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/3.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="2" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>
                <span>組員</span>
                <h4>中央大學資工四</h4>
                <h4>黃印榕</h4>
              </div>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/4.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="3" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>
                <span>組員</span>
                <h4>中央大學物理三</h4>
                <h4>林柏羿</h4>
              </div>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/5.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="4" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>
                <span>組員</span>
                <h4>中央大學地科二</h4>
                <h4>羅向榮</h4>
              </div>
            </div>
          </div>

          <div class="col" data-aos="zoom-in" data-aos-delay="500">
            <div class="team-block bottom">
              <img src="static/img/team/6.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled"><li><a data-bs-target="#carousel-example-generic" data-bs-slide-to="5" href="#team" style="color:rgb(35, 170, 37);">詳細資訊</a></li></ul>                  
                <span>組員</span>
                <h4>中央大學地科二</h4>
                <h4>許家瑋</h4>
              </div>
            </div>
          </div>  
            
          <div class="container" data-aos="fade-up">
            <div id="carousel-example-generic" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item  active">

                  <h4>張家凱<span>指導老師</span></h4>
                  <p>技術指導</p>
                  <p>準備方向指引</p>
        
                </div>
        
                <div class="carousel-item ">

                  <h4>桂子恆<span>組員</span></h4>
                  <p>學習進度存取追蹤功能建立</p>
                  <p>LINE OA 主掌架構</p>
                              
                </div>
        
                <div class="carousel-item ">

                  <h4>黃印榕<span>組員</span></h4>
                  <p>AI翻譯模型選用</p>
                  <p>AI翻譯模型整理與建立</p>
        
                </div>
        
                <div class="carousel-item ">

                  <h4>林柏羿<span>組員</span></h4>
                  <p>單字資料庫之建立與整理</p>
                  <p>聊天機器人單字查詢功能製作</p>
        
                </div>
        
                <div class="carousel-item ">

                  <h4>羅向榮<span>組員</span></h4>
                  <p>網頁設計</p>
                  <p>語音辨識功能建立</p>
                              
                </div>
        
                <div class="carousel-item ">
                              
                  <h4>許家瑋<span>組員</span></h4>
                  <p>網頁設計</p>
                  <p>語音辨識功能建立</p>
                              
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </section><!-- End Team Section -->

    <!-- ======= Newsletter Section ======= -->
    <section id="newsletter" class="newsletter text-center">
      <div class="overlay padd-section">
        <div class="container" data-aos="zoom-in">

          <div class="row justify-content-center">
            <h1 style="color:rgb(5, 111, 3);"><span>還在擔心自己的單字量不足嗎?</span></h1>
            <h1 style="color:rgb(5, 111, 3);"><span>就算不是高中生也能複習英文單字</span></h1>
            <h1 style="color:rgb(5, 111, 3);"><span>趕快掃描QRCode免費學習英文單字吧</span></h1>
          </div>

        </div>
      </div>
    </section><!-- End Newsletter Section -->

  </main><!-- End #main -->

</body>
{%include 'footer.html'%}